@import "../../../assets/css/variables";

.submit-section {
	[type=submit] {
		background: $blue;
		cursor: pointer;
		color: $white;
		border: none;
		padding: 20px;
		font-size: 17px;
		border-radius: 5px;
		width: 150px;
	}
}