@import "../../assets/css/variables";

.login, .register {
	background: url('../../assets/images/login_bg.png') center no-repeat;
}

.has-error{

	> input, > select{
		border-bottom: 2px solid $red;
	}
	.error{
		margin-top: 10px;
		color: $red;
		font-size: 15px;
	}
}

.links{
	> a {
		&:not(:last-of-type)::after{
			content: '|';
			position: relative;
			margin: 0 7px;
		}
		font-size: 15px;
		text-decoration: none;
		color: $black;
		&:hover{
			text-decoration: underline;
		}
	}
}