@import '../../assets/css/variables';

main{
	height: 100%;

}

.home{
	background: url('bg.jpg') center no-repeat;
	background-size: cover;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}