
@import 'variables';

html, body, #root, .root-inner{
	height: 100%;
}

.centered-container main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	padding: 20px;
}

body {
	font: 18px 'Roboto', Arial;
	overflow: hidden;
}

.md-preloader {
	font-size: 0;
	display: inline-block;
	-webkit-animation: outer 6600ms linear infinite;
	animation: outer 6600ms linear infinite;
	svg{
		-webkit-animation: inner 1320ms linear infinite;
		animation: inner 1320ms linear infinite;
		circle {
			fill: none;
			stroke: #448aff;
			stroke-linecap: square;
			-webkit-animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite;
			animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite
		}
	}
}

@-webkit-keyframes outer {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes outer {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes inner {
	0% {
		-webkit-transform: rotate(-100.8deg);
		transform: rotate(-100.8deg)
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
}

@keyframes inner {
	0% {
		-webkit-transform: rotate(-100.8deg);
		transform: rotate(-100.8deg)
	}
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
}

@-webkit-keyframes arc {
	0% {
		stroke-dasharray: 1 210.48670779px;
		stroke-dashoffset: 0
	}
	40% {
		stroke-dasharray: 151.55042961px, 210.48670779px;
		stroke-dashoffset: 0
	}
	100% {
		stroke-dasharray: 1 210.48670779px;
		stroke-dashoffset: -151.55042961px
	}
}

@keyframes arc {
	0% {
		stroke-dasharray: 1 210.48670779px;
		stroke-dashoffset: 0
	}
	40% {
		stroke-dasharray: 151.55042961px, 210.48670779px;
		stroke-dashoffset: 0
	}
	100% {
		stroke-dasharray: 1 210.48670779px;
		stroke-dashoffset: -151.55042961px
	}
}

.has-loader {
	position: relative;
	.loader-container {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.5);
		z-index: 9999;
		&.input-loader{
			justify-content: flex-end;
		}
	}
}

.search-input {
	position: relative;
	input {
		width: 100%;
		padding: 10px;
		text-indent: 50px;
	}
	&.has-icon::after {
		content: '\E8B6';
		color: black;
		font-family: 'Material Icons';
		position: absolute;
		left: 12px;
		bottom: 6px;
		font-size: 30px;
	}
}

.has-submenu {
	position: relative;
	.submenu {
		webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: white;
		display: flex;
		flex-direction: column;
		margin-top: 100px;
		right: 1px;
		min-width: 200px;
		padding: 20px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		li{
			list-style: none;
		}
	}

	&:hover{
		.submenu{
			opacity: 1;
			visibility: visible;
			margin-top: 110px;
		}
	}
}

.button{
	background: $blue;
	cursor: pointer;
	font-size: 17px;
	width: 150px;
	text-decoration: none;
	background: $white;
	color: $grey;
	border: 1px solid $grey;
	padding: 10px;
	text-align: center;
}