@import 'variables';
@import 'mixins';

html, body, #root, .root-inner {
	height: 100%;
}

.centered-container main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	padding: 20px;
}

body {
	font: 18px 'Roboto', Arial;
	overflow: hidden;
}

.search-input {
	position: relative;
	input {
		width: 100%;
		padding: 10px;
		text-indent: 50px;
	}
	&.has-icon::after {
		content: '\E8B6';
		color: black;
		font-family: 'Material Icons';
		position: absolute;
		left: 12px;
		bottom: 6px;
		font-size: 30px;
	}
}

.has-submenu {
	position: relative;
	.submenu {
		transition: all .3s;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: white;
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		right: 1px;
		min-width: 200px;
		padding: 20px;
		top: 0;
		color: $black;
		z-index: 90;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		li {
			padding: 10px;
			list-style: none;
			cursor: pointer;
			&:hover {
				background: $lightGrey;
			}
		}
	}

	&:hover {
		.submenu {
			opacity: 1;
			visibility: visible;
			margin-top: 50px;
		}
	}
}

/*Round icon*/

.has-round-icon {
	@include center();
	flex-direction: column;
	text-decoration: none;
	svg {
		border: 1px solid $blue;
		border-radius: 50%;
		font-size: 60px;
		display: block;
		color: $black;
		transition: all .3s;
		margin-bottom: 10px;

		&:hover {
			background: $blue;
			color: $white;
		}

		& + span, & + a {
			color: $black;
		}
	}
}

/*Buttons*/

.button {
	background: $blue;
	cursor: pointer;
	font-size: 17px;
	width: 150px;
	text-decoration: none;
	background: $white;
	color: $grey;
	border: 1px solid $grey;
	padding: 10px;
	text-align: center;
}