@import '../../../assets/css/variables';

.header{
	background: $grey;
	padding: 20px;
	color: $white;
	display: flex;
	justify-content: space-between;
	a{
		text-decoration: none;
		color: $black;
	}
}